
<div class="container">
  <div class="row" ng-controller="mainController">
  	<div class="col-md-2">
  		<ul class="nav nav-pills nav-stacked">
       	<li ng-class="{ active: isSet(1) }">
          	<a href ng-click="setTab(1)">UI Router</a>
       	</li>
       	<li ng-class="{ active: isSet(2) }">
          	<a href ng-click="setTab(2)">Gulp</a>
       	</li>
       	<li ng-class="{ active: isSet(3) }">
          	<a href ng-click="setTab(3)">Webpack</a>
       	</li>
       	<li ng-class="{ active: isSet(4) }">
          	<a href ng-click="setTab(4)">Browser Sync</a>
       	</li>
       	</ul>
  	</div>
    <div class="col-md-8">
  		<div class="jumbotron">
       	<div ng-show="isSet(1)">
         	 <h2>UI Router</h2>
           <br/>
           <p class="paragraph">
                                 AngularUI Router is a routing framework for AngularJS, which allows you to organize the parts of your interface into a state machine. Unlike the $route service in the Angular ngRoute module, which is organized around URL routes, UI-Router is organized around states, which may optionally have routes, as well as other behavior, attached.States are bound to named, nested and parallel views, allowing you to powerfully manage your application's interface.
              <p class="paragraph">     Check out the sample app: <a href="http://angular-ui.github.io/ui-router/sample"> http://angular-ui.github.io/ui-router/sample  </a> </p>
           </p>
         	
        </div>
		<div ng-show="isSet(2)">
          	 <h2>Gulp</h2>
              <h4>Let&#39;s start</h4>

              <p class="paragraph">Now that we have an idea about the tools we&#39;re going to use, let&#39;s create an Angular based app from scratch. </p>

              <h4>Install Node</h4>

              <p class="paragraph">You can download Node from <a href="https://nodejs.org">here</a>. Once installed, open Terminal and type:</p>

              <code>node -v </code>

              <p class="paragraph">This shows what Node version you have on your system.</p>

              <h3>Install Gulp</h3>

              <p class="paragraph">Open Terminal and install the Gulp package</p>

              <code >npm install gulp --save-dev</code>

              <p class="paragraph">The above command will tell <code>npm</code> or the Node Package Manager, to install Gulp <em>and</em> add it as a dependency in your <code>package.json</code> under the <code>devDependencies</code> list, hence the <code>--save-dev</code> option. Note that Gulp is considered as a development related dependency, which means it will only run while developing the app.</p>

              <p class="paragraph">After you install Gulp, you will find a new directory in your project called <code>node_modules</code>This holds the source code of your installed packages. Of course, if you&#39;re going to version control your app, you should add this folder to <code>.gitignore</code>because you don&#39;t want to push it to your repo (as this folder will be very big in file size). Then, whoever will clone your app can just run <code>npm install</code> which will install every dependency in your <code>package.json</code> file and create a brand new <code>node_packages</code> folder for that specific working directory.</p>

              <h3>Install some Gulp plugins</h3>

              <p class="paragraph">Now let&#39;s go ahead and install some Gulp plugins. We will start with <code>gulp-connect</code> which simply fires a static, localhost server that serves your app statically, since this is a front-end project anyways.</p>

              <code >npm install gulp-connect --save-dev</code>

              <p class="paragraph">Than let&#39;s install a package that compiles <code>.sass</code> files into CSS:</p>

              <code >npm install gulp-ruby-sass --save-dev</code>

              <p class="paragraph">Note that for this one to work you should have the Ruby Sass gem installed on your system. More about it <a href="http://sass-lang.com/install">here</a>.</p>

              <h3>Create your first Gulp task</h3>

              <p class="paragraph">Now let&#39;s create a <code>gulpfile.js</code> in the root of our project directory and write the following JS code:</p>

              <code class="js">var gulp = require(&#39;gulp&#39;)
var sass = require(&#39;gulp-ruby-sass&#39;)
var connect = require(&#39;gulp-connect&#39;)

gulp.task(&#39;connect&#39;, function () {
    connect.server({
        root: &#39;public&#39;,
        port: 4000
    })
})
              </code>

              <p class="paragraph">Now, what this code does is pretty straightforward. First we are requiring the three Node packages we installed previously, in this case, <em>Gulp</em>, <em>Gulp Ruby Sass</em> and <em>Connect</em>. Then, we are creating a task that will use the <code>Connect</code> module. Every Gulp task you write has essentially the same syntax, the only difference is the task itself, the one that Gulp is going to do for you. 
              Let&#39;s see.</p>

              <p class="paragraph">To create a new task in Gulp you use the <code>gulp.task()</code> method. This methods takes two arguments. The first is a string, which is the name you choose for your task. In this case we named it <code>connect</code>so we know what it&#39;s doing. The second argument is basically an anonymous function that contains the code required to accomplish the task. In the case of the <code>connect</code> task, we are calling the <code>connect.sever()</code> method, which takes an options object where we are specifying what&#39;s the root of our app, and the port. In this case <code>public</code> and <code>4000</code> respectively.</p>

              <p class="paragraph">Now let&#39;s try if it works. Go ahead an create a <code>public</code> folder in the root of your project, then create an <code>index.html</code> file in it:</p>

              <code class="html">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;Solestruck App&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;It works!&lt;/h1&gt;
&lt;/body&gt;
&lt;/html&gt;
              </code>

              <p class="paragraph">Now run the task from terminal</p>

              <code >gulp connect</code>

              <p class="paragraph"> and open your browser on <code>localhost:4000</code>. You should see a big heading with the good news. As you see the task is still running on your terminal. To stop the task and thus stop the server, just hit <code>ctrl + c</code></p>
     	        </div>
        <div ng-show="isSet(3)">
        	<h2>Webpack</h2>
          <h4>Install node.js.</h4>
          <p class="paragraph"> node.js comes with a package manager called npm. </p>
          <h4>Install Webpack</h4>
            <p class="paragraph">webpack can be installed through npm.Add a package.json configuration file for npm with:</p>
            <code>$ npm init</code>
            <p class="paragraph">The answers to the questions are not so important if you don’t want to publish your project to npm.Install and add webpack to the package.json with:</p>
            <code>$ npm install webpack --save-dev</code>
            <p class="paragraph"> To use dev tools you should install it:</p>
            <code>$ npm install webpack-dev-server --save-dev</code>
            <h4>Using webpack-stream</h4>
            <code>var gulp = require('gulp');
var webpack = require('webpack-stream');
gulp.task('default', function() {
  return gulp.src('src/entry.js')
    .pipe(webpack())
    .pipe(gulp.dest('dist/'));
});</code>
            <p class="paragraph">Or just pass in your webpack.config.js:</p>
            <code>return gulp.src('src/entry.js')
  .pipe(webpack( require('./webpack.config.js') ))
  .pipe(gulp.dest('dist/'));</code>
              <p class="paragraph">Multiple entry bundles are created. The key is the chunk name. The value can be a string or an array.</p>
              <code>{
    entry: {
        page1: "./page1",
        page2: ["./entry1", "./entry2"]
    },
    output: {
        // Make sure to use [name] or [id] in output.filename
        //  when using multiple entry points
        filename: "[name].bundle.js",
        chunkFilename: "[id].bundle.js"
    }
}</code>
<p class="paragraph">Configuration under devServer in webpack.config.js are merged with the CLI options. For options under devServer see next section.</p>
<code>var WebpackDevServer = require("webpack-dev-server");
var webpack = require("webpack");

var compiler = webpack({
  // configuration
});
var server = new WebpackDevServer(compiler, {
  // webpack-dev-server options

  contentBase: "/path/to/directory",
  // or: contentBase: "http://localhost/",

  hot: true,
  // Enable special support for Hot Module Replacement
  // Page is no longer updated, but a "webpackHotUpdate" message is send to the content
  // Use "webpack/hot/dev-server" as additional module in your entry point
  // Note: this does _not_ add the `HotModuleReplacementPlugin` like the CLI option does. 

  // Set this as true if you want to access dev server from arbitrary url.
  // This is handy if you are using a html5 router.
  historyApiFallback: false,

  // Set this if you want webpack-dev-server to delegate a single path to an arbitrary server.
  // Use "*" to proxy all paths to the specified server.
  // This is useful if you want to get rid of 'http://localhost:8080/' in script[src],
  // and has many other use cases (see https://github.com/webpack/webpack-dev-server/pull/127 ).
  proxy: {
    "*": "http://localhost:9090"
  },

  // webpack-dev-middleware options
  quiet: false,
  noInfo: false,
  lazy: true,
  filename: "bundle.js",
  watchOptions: {
    aggregateTimeout: 300,
    poll: 1000
  },
  publicPath: "/assets/",
  headers: { "X-Custom-Header": "yes" },
  stats: { colors: true },
});
server.listen(8080, "localhost", function() {});</code>
        </div>
        <div ng-show="isSet(4)">
        	<h2>Browser Sync</h2>
          <p class="paragraph">BrowserSync is an open-source project created and maintained by the front-end designers/developers at JH. Together with contributors from all over the world, we aim to make modern, multi-device web development faster & easier.</p>
          <p class="paragraph"> This is the prefered way to use Browsersync - installing it locally to each project. This way the dependency can be added to your package.json file and everyone on your team.</p>
          <code>$ npm install browser-sync --save-dev</code>
          <p class="paragraph">Calling .create() means you get a unique reference & allows you to create multiple servers or proxies.</p>
          <code>// require the module as normal
var bs = require("browser-sync").create();

// .init starts the server
bs.init({
    server: "./app"
});

// Now call methods on bs instead of the
// main browserSync module export
bs.reload("*.html");
</code>
        </div>
  	</div>
  </div>
</div>			